
*{
  margin: 0;
  padding: 0;
  font-family: "Nunito", 'Helvetica', sans-serif;
  color: white;
}

body{
  background-color: #2f716f;
}

#titelbalk{
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #35858B;
  padding-bottom: 20px;
  padding-top: 0px;
  position: fixed;
  overflow: hidden;
}

#titel{
  color: #072227;
  text-align: center;
  margin-top: 32px;
  font-size: 40px;
  text-shadow: 2px 2px 4px #000000;
}

h1, h2{
  margin-top:150px;
  text-align: center;
}

h2 {
  font-size: 35px;
}

p{
  margin-top: 10px;
  padding: 0px 300px;
  text-align: center;
}


ul{
  text-align: center;
  list-style-position: inside;
}


a{
  text-decoration: none;
  color: #4FBDBA;
  text-align: center;
  margin: 10%;
}

a:hover{
  /* background-color: #AEFEFF;*/
  background-color: #4FBDBA;
  color: #072227;
}

#balk{
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #072227;
  position: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: .5s;
  overflow-x: hidden;
  z-index: 1;
}

#balk h3{
  text-align: center;
  margin: 20%;
}




#indeximg{
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#Rockpancakes{
  display: block;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

#Dannyfood{
  display: block;
  width: auto;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

#RyanA{
  display: block;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

#TobeyDance{
  display: block;
  width: auto;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

#info{
padding: 0;
margin: 0;
padding-left: 20px;
}

#infoDwayne{
 padding: 5;
 margin: 0;
 padding-left: 20px;
}

@media only screen and (max-width: 600px){
  #indeximg{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  #Rockpancakes{
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
  }

  #Dannyfood{
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
  }

  #RyanA{
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
  }

  #TobeyDance{
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
  }

    h1{
      text-align: center;
    }

    p{
      font-size: 16px;
      text-align: center;
      padding: 0px 0px;
    }

    #open{
      font-size: 16px !important;
      cursor: pointer;
      z-index: 12;
      position: fixed;
      color: black;
    }

}


.nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: .5s;
  padding: 20px;
}

#open{
  font-size: 30px;
  cursor: pointer;
  z-index: 12;
  position: fixed;
  color: black;
}

@media only screen and (max-height: 450px) {
  .nav {padding-top: 15px;}
  .nav a {font-size: 18px;}
}
